@tailwind base;
@tailwind components;
@tailwind utilities;

.\[\&_svg\]\:visible svg {
    visibility: visible;
}

.alert-p {
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 1em;
    border-radius: 5px;
    text-align: center;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
}